width: 1440px;
height: 288px;
margin: 0 0 2px;
padding: 16px 9px 15px 29px;
border: solid 1px var(--brown-grey);
background-color: var(--cherry-red);
width: 1440px;
height: 288px;
margin: 0 0 2px;
padding: 16px 9px 15px 29px;
border: solid 1px var(--brown-grey);
background-color: var(--cherry-red);

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    display: block;
}

